body{
    height: 640px;
    width: 1100px;
    background-color: rgba(255, 255, 255, 0.732);
}

#upperbox{
    position: relative;
    top: -5px;
    height: 4.5rem;
    width: 1518px;
    background-color:rgba(41, 40, 40, 0.253) ;
}
#btn{ 
   border-color:rgba(41, 40, 40, 0.253)  ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    height: 40px;
    width: 150px;
    top: 10px;
    background-color:rgba(242, 236, 236, 0.64);
    border-radius: 5px;
    margin: 5px;
}

#insidebox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#homebutton{
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 5px;
}

#search{
    
    background-color:rgba(242, 236, 236, 0.64);
    border-radius:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 500px;
    top: 10px;
    height: 40px;
    width: 175px;
    border-radius: 20px;
}

#wrtsearch{
    position: relative;
    left: 20px;
}
#search:hover,#btn1:hover,#login:hover,#btn:hover{
    filter:drop-shadow(5px 5px 15px#705d93);
    background-color:#497D74;
    color: rgb(255, 255, 255);
    animation-delay: -1s;
}


#login{
    background-color:rgba(242, 236, 236, 0.64);
    border-radius:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 550px;
    top: 10px;
    height: 40px;
    width: 100px;
}
#wrtlogin{
    position: relative;
    left: 10px;
}

#logo{
    
    top: 40px;
    height: 60px;
}
#bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 21px;
    width:250px ;
    height: 80px;
    background-color: rgba(107, 107, 107, 0.384);
}

#btn1{
    border-color:rgba(41, 40, 40, 0.253)  ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    height: 40px;
    width: 150px;
    top: 10px;
    left: 10px;
    background-color:rgba(242, 236, 236, 0.64);
    border-radius: 5px;
    margin: 5px;
}

#Tutorials{
    position: relative;
    top:22px;
    border: 2px dashed black;
    height: 180px;
    width: 250px;
}
.tut{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ha{
    color: black;
    text-decoration: none;
    
}

.hello{
    position: relative;
    left: 10px;
    display: inline;
    align-items: center;
    justify-content: center;

}

#searchlogo{
    
    height: 40px;
    width: 70px;
    position: relative;
    right: 10px;
     border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#loginLink{
    text-decoration: none;
    color: black;
}
#searchlogo:hover{
    filter:drop-shadow(5px 5px 15px#705d93);
    background-color:#497D74;
    color: rgb(255, 255, 255);
    animation-delay: -1s;
    background-color: transparent;
}

#forum{
    position: relative;
    left: 40px;
}
#Activity{
    position:relative;
    left: 260px;
    border: 2px dashed black;
    height: 630px;
    width: 1250px;
}
#innerforum{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
}
#bye{
    position: relative;
    top: -68px;
    left: 20PX;
}
#innerforum1{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
    position: relative;
    top: -80px;
}
#bye1{
    position: relative;
    top: -148px;
    left: 20px;
}
#innerforum2{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
    position: relative;
    top: -160px;
}
#bye2{
    position: relative;
    top:-225px ;
    left: 20px;
}
#innerforum3{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
    position: relative;
    top: -205px;
}
#bye3{
    position: relative;
    top: -270px;
    left: 20px;
}
#innerforum4{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
    position: relative;
    top: -285px;
}
#bye4{
    position: relative;
    top: -350px;
    left: 20px;
}
#innerforum5{
    font-size: 20px;
    border: 2px dotted black;
    height: 80px;
    width: 1000px;
    position: relative;
    top:-368px;
}
#bye5{
    position: relative;
    top: -435px;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}