#tutorial{
    font-size: 30px;
}
#navbarNav{
    height: 50px;
    width: 90px;
    font-size: 20px;
}
.container-fluid{
    position: relative;
    left:  10px;
    height:4.5rem;
    width: 90px;
    background-color:#f2ececa3
}
body{
    height: 640px;
    width: 1518px;
    background-color: rgba(255, 255, 255, 0.732);
}

#upperbox{
    position: relative;
    top: -5px;
    height: 4.5rem;
    width: 1518px;
    background-color:rgba(41, 40, 40, 0.253) ;
}
#btn{ 
   border-color:rgba(41, 40, 40, 0.253)  ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    height: 40px;
    width: 150px;
    top: 10px;
    left: 300px;
    background-color:rgba(242, 236, 236, 0.64);
    border-radius: 5px;
    margin: 5px;
}

#insidebox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
#homebutton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 5px;
}

#search{
    
    background-color:rgba(242, 236, 236, 0.64);
    border-radius:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 500px;

    top: 1px;
    height: 40px;
    width: 175px;
    border-radius: 20px;
}

#wrtsearch{
    z-index: -1;
    position: relative;
    left: 40px;
    top:1px
}
#search:hover,#btn1:hover,#login:hover,#btn:hover{
    filter:drop-shadow(5px 5px 15px#705d93);
    background-color:#497D74;
    color: rgb(255, 255, 255);
    animation-delay: -1s;
}


#login{
    background-color:rgba(242, 236, 236, 0.64);
    border-radius:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 550px;
    top: 1px;
    font-size: 20px;
    height: 40px;
    width: 100px;
}
#wrtlogin{
    position: relative;
    left: 10px;
    font-size: 20px;
}

#logo{
    
    top: 40px;
    height: 60px;
}
#bg{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    width:250px ;
    height: 80px;
    background-color: rgba(107, 107, 107, 0.384);
}

#btn1{
    border-color:rgba(41, 40, 40, 0.253)  ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    height: 40px;
    width: 150px;
    top: 4px;
    left: 10px;
    background-color:rgba(242, 236, 236, 0.64);
    border-radius: 5px;
    margin: 5px;
}

#Tutorials{
    position: relative;
    top:22px;
    border: 2px dashed black;
    height: 180px;
    width: 250px;
}
.tut{
    display: flex;
    align-items: center;
    justify-content: center;
}
#ha{
    color: black;
    text-decoration: none;
    
}

.hello{
    position: relative;
    left: 10px;
    display: inline;
    align-items: center;
    justify-content: center;

}

#searchlogo{
    
    height: 40px;
    width: 70px;
    position: relative;
    right: 10px;
     border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}
#loginLink{
    text-decoration: none;
    color: black;
}


#forum{
    position: relative;
    left: 40px;
}
#Activity{
    position:relative;
    left: 260px;
    border: 2px dashed black;
    height: 630px;
    width: 1250px;
}
#btn2{
    border-color:rgba(41, 40, 40, 0.253)  ;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 40px;
    height: 50px;
    width: 150px;
    top: 10px;
    left: 10px;
    background-color:rgba(255, 255, 255, 0.732);
    border-radius: 5px;
    margin: 5px;
}
#homebutton1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
    font-size: 35px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    margin: 5px;
}
#btn2:hover{
    filter:drop-shadow(5px 5px 15px#705d93);
    background-color:#497D74;
    color: rgb(255, 255, 255);
    animation-delay: -1s;
}

#leftsidebox{
    position: relative;
    top: 20px;
    height: 190px;
    width:248px;
    border: 2px dashed black;
}
#insideleftbox{
    background-color: #27445D;
    position: relative;
    top: -86px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content:center 

}
#languagetxt{
    position: relative;
    top: 30px;
    height: 30px;
    background-color: #497D74;
}
#c{
    color: aliceblue;
    font-size: 20px;
    position: relative;
    top: 3px;
    left:40px
}
#text{
    position: relative;
    top: -68px;
    left: 40px;
}
#asciicodes{
    background-color: rgb(223, 208, 208);;
    height: 30px;
    width: 248px;
    position: relative;
    right: 40px;
}
#Booleancodes{
        background-color: rgb(223, 208, 208);;
        height: 30px;
        width: 248px;
        position: relative;
        right: 40px;
        top: -15px;
    }

#Numericalbases{
    background-color: rgb(223, 208, 208);;
    height: 30px;
    width: 248px;
    position: relative;
    right: 40px;
    top: -30px;
}
#ASCIICODEBOX{
    position: relative;
    top: -260px;
    left: 260px;
    border: 2PX dashed black;
    height: 1250PX;
    width: 1250PX;
}
#LINE{
    background-color: #27445D;
    height: 2px;
    width: 1220px;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.table{
    position:relative;
    top: -1230px;
    left: 275px;
    height: 90px;
    width: 100px;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#numbers{
    position:relative;
    top: -1220px;
    left: 275px;
    width: 1250px;
}
#text{
    text-decoration: none;
}